body {
    background-color: #0D1117 !important;
}
.LoginCard {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

.SignUp {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

.BtnPrimary{
    background-color: brown !important; 
    color: orange !important; 
}

h1 {
    color: white;
}

.OverviewDashboard {
    display: inline-block;
    background-color: red;
    width: 30%;
    height: 250px;
    position: relative;
    left: 15%;
}

.CommentsDashboard {
    display: inline-block;
    background-color: blue;
    width: 30%;
    height: 250px;
    position: relative;
    left: 15%;
    top: 25px;
}

.StatsDashboard {
    display: inline-block;
    background-color: lime;
    width: 30%;
    height: 525px;
    position: relative;
    left: 25%;
    bottom: 249px;
}