body {
    background-color: #0D1117;
}
.LoginCard {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

.SignUp {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}

.BtnPrimary{
    background-color: brown !important; 
    color: orange !important; 
}

h1 {
    color: white;
}