.StudentNumber {
    float: left;
    margin-left: 17%;
    height: 100px;
    color: white;
}
.StudentName {
    float: left;
    margin-left: 17%;
    height: 100px;
    color: white;
}

.StudentClass {
    float: left;
    height: 100px;
    margin-left: 17%;
    color: white;
}

.ProjectsLabel {
    color: white;
    position: relative;
    right: 30%;
}

.Table {
    width: 80%;
    position: relative;
    left: 10%;
}

.Comments {
    color: white;
}

.AddProjectBtn, .AddProjectBtn:hover, .AddProjectBtn:active, .AddProjectBtn:visited {
    background-color: #30363D;
    border: 2px solid blue !important;
}

.FilterBoxes {
    display: flex !important;
    color: white !important;
}

.FilterBox {
    margin-right: 4%;
}

.OrangeBtn, .OrangeBtn:hover, .OrangeBtn:active, .OrangeBtn:visited {
    background-color: #ff6c38 !important;
    border: 2px solid #ff6c38 !important;
}